body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  background: #272727;
  //cursor: url("./imgs/custom_cursor.png"), auto;
  cursor: url("./imgs/custom_cursor.png"), default;
}


// 隐藏滚动条
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@font-face {
  font-family: 'zglyingzt22786b4732223c6';
  src: url('//cdn.repository.webfont.com/webfonts/nomal/140230/46184/5f2ff020f629d80b904c0f59.gif?r=145370785046');
  src: url('//cdn.repository.webfont.com/webfonts/nomal/140230/46184/5f2ff020f629d80b904c0f59.gif?r=145370785046?#iefix') format('embedded-opentype'), url('//cdn.repository.webfont.com/webfonts/nomal/140230/46184/5f2ff020f629d80b904c0f59.png?r=145370785046') format('woff2'), url('//cdn.repository.webfont.com/webfonts/nomal/140230/46184/5f2ff020f629d80b904c0f59.bmp?r=145370785046') format('woff'), url('//cdn.repository.webfont.com/webfonts/nomal/140230/46184/5f2ff020f629d80b904c0f59.jpg?r=145370785046') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.css22786b4732223c6 {
  font-family: 'zglyingzt22786b4732223c6', sans-serif;
}